###############################################################################
#
# TinQa Deployment Framework
#
# Template : tinqa.service
#
# NOTE
# ----
# This file is processed by modules/08_systemd.sh.
#
# The following placeholders are replaced automatically:
#
# pi
# pi
# /Users/gaurav/Desktop/TinQa/TinQa_Deployment_Framework/deploy/tests/sandbox/TinQa_Weather_Sync_System
# /Users/gaurav/Desktop/TinQa/TinQa_Deployment_Framework/deploy/tests/sandbox/TinQa_Weather_Sync_System/venv/bin/python
# /Users/gaurav/Desktop/TinQa/TinQa_Deployment_Framework/deploy/tests/sandbox/TinQa_Weather_Sync_System
#
###############################################################################

[Unit]

Description=TinQa Weather Sync System

After=network.target bluetooth.service NetworkManager.service

Wants=bluetooth.service NetworkManager.service

###############################################################################

[Service]

Type=simple

User=pi

Group=pi

WorkingDirectory=/Users/gaurav/Desktop/TinQa/TinQa_Deployment_Framework/deploy/tests/sandbox/TinQa_Weather_Sync_System

ExecStart=/Users/gaurav/Desktop/TinQa/TinQa_Deployment_Framework/deploy/tests/sandbox/TinQa_Weather_Sync_System/venv/bin/python -m app.main

Restart=always

RestartSec=5

Environment=PYTHONUNBUFFERED=1

Environment=PYTHONPATH=/Users/gaurav/Desktop/TinQa/TinQa_Deployment_Framework/deploy/tests/sandbox/TinQa_Weather_Sync_System

StandardOutput=journal

StandardError=journal

###############################################################################

[Install]

WantedBy=multi-user.target